body {
    font-family: Microsoft Yahei;
    font-style: normal;
    position: relative;
}
header {
    background: #353b5e;
    color: #fff;
    padding: 10px 15px;
    border-bottom: 2px solid #f3f5f7;
}
.container {
    width: 80%;
}
.none {
    display: none;
}
.fl {
    float: left;
}
.fr {
    float: right;
}
.one-row {
    display: block;
    width:100%;
}
.none {
    display: none;
}
.offset-left {
    position: absolute;
    left: 0;
    padding-top: 10px;
}
.offset-right {
    position: absolute;
    left: 20%;
    padding-top: 10px;
}